section.container {

    .generate-box {
        display: flex;
        /*flex-direction: column;*/
        gap: 5px;
        /*align-items: center;*/
        align-content: center;

        .inputs {
            display: flex;
            flex-direction: column;
            gap: 5px;

            label {
                display: flex;
                align-content: center;
                gap: 10px;

                input {
                    width: 200px;
                }
            }
        }
    }


    #output {
        overflow: scroll;
        max-width: 90vw;
        max-height: 60vh;

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        tr:first-of-type, td:first-of-type, tr:last-of-type, td:last-of-type {
            background-color: lightblue;
        }

        td {
            padding: 2px;
            text-align: center;
        }

        .highlight {
            background-color: lightblue;
        }

    }
}